.bindlink{
	background:rgba(0,0,125,0.3);
	border-radius: 5px;
	cursor:pointer;
}
#header {
	position: absolute;
	background: rgba(0,125,0,0.3);
	left: 10px;
	top: 10px;
	right: 10px;
	border-radius: 5px;
	height: 95px;
	text-align: center;
}
#sideiframe {
	position: absolute;
	background: rgba(125,125,0,0.3);
	left: 10px;
	top: 115px;
	width: 249px;
	border-radius: 5px;
	bottom: 10px;
	height: 0px;
}
#mainiframe {
	position: absolute;
	background: rgba(125,0,125,0.3);
	right: 10px;
	top: 115px;
	width: 1079px;
	height: 0px;
	border-radius: 5px;
}
